networks:
  proxy:
    driver: bridge

services:
  reverse-proxy:
    container_name: reverse-proxy
    image: nginx:1.29.5
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx/config:/etc/nginx/conf.d:ro"
      - "/var/log/nginx:/var/log/nginx"
    networks:
      - proxy